/* Con las lineas e html y body, con esas medidad se puden hacer buen
uso de la medidas "rem" este aplica para smartwht y mantallas.*/
html{
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;  /* 1rem = 10px */ 
}
h1.titulo span { 
    font-size: 2rem;
    color: blue;
}
.titulo span {
    font-size: 2rem;
    color: red;
}