/* Con las lineas e html y body, con esas medidad se puden hacer buen
uso de la medidas "rem" este aplica para smartwht y mantallas.*/

/*Variablres propias de CSS*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;  /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}
.titulo span {
    font-size: 2rem; 
}